{% extends "_layouts/main" %}

{% block main %}

	<section class="splash">
        <div class="container">
            <h1>{{ entry.title }}</h1>
            <div class="meta">
                <a href="/blog"><img src="/assets/dist/img/icon-leftarrow.png" class="tagicon time" alt=""> <span>Back to all posts</span></a>

                <div class="tag">
                    <img src="/assets/dist/img/icon-tag.png" class="tagicon" alt=""> {{ entry.category.one().title | title }}
                </div>

                <div class="time">
                    <img src="/assets/dist/img/icon-time.png" class="tagicon time" alt=""> {{ entry.postDate | date('jS F Y') }}
                </div>
            </div>
        </div>
    </section>

    <section class="singlepost pad notop">
        <div class="container">

            {{ entry.postContent }}
            
        </div>
    </section>

    <section class="latest-notes">
        <div class="container pad notop accommodatemargin">

            <div class="section-head">
                <h2>More blog posts</h2>
                <a href="/blog">All posts <img src="/assets/dist/img/icon-rightarrow.png" alt=""></a>
            </div>

            <div class="posts">

                {% for post in craft.entries.section('blogEntries').id('not '~entry.id).limit(3).all() %}

                    <a class="note visible" href="{{ post.url }}">
                        <div class="headline">
                            <h3>{{ post.title }}</h3>
                        </div>
                        <small>
                            <div>
                                <img src="/assets/dist/img/icon-tag.png" class="tagicon" alt=""> {{ post.category.one().title | title }}
                            </div>
                            <div>
                                <img src="/assets/dist/img/icon-time.png" class="tagicon time"> {{ post.postDate | date('jS F Y') }}
                            </div>
                        </small>
                    </a>

                {% endfor %}
                
            </div>
            
        </div>
    </section>

{% endblock %}