<!doctype html>
<html lang="en">
    <head>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, viewport-fit=cover" />

        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
        <link href="/assets/dist/css/global.css" rel="stylesheet">
        <link href="/assets/dist/img/icon-favicon.png" rel="icon">

        {% if entry %}
            {% set pageTitle = ((entry.htmlTitle) ? entry.htmlTitle : entry.title ~ " - " ~ siteName)  %}
        {% else %}
            {% set pageTitle = "Page Not Found - " ~ siteName %}
        {% endif %}
        <title>{{ pageTitle }}</title>

        <meta property="og:url" content="{{ craft.app.request.absoluteUrl }}">
        <meta property="og:type" content="{{ entry.getSection().handle == 'blogEntries' ? 'article' : 'website' }}">
        <meta property="og:title" content="{{ pageTitle }}">
        <meta property="og:site_name" content="Fraser Boag">

        {% set ogImage = seo.defaultOgImage.one().url('opengraphImage') %}
        {% if entry.defaultOgImage | length %}
            {% set ogImage = entry.defaultOgImage.one().url('opengraphImage') %}
        {% endif %}
        <meta property="og:image" content="{{ ogImage }}">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@fraserboag">
        <meta name="twitter:creator" content="@fraserboag">
        <meta name="twitter:title" content="{{ pageTitle }}">
        <meta name="twitter:image" content="{{ ogImage }}">

    </head>
    <body>

        {% set csrfParam = craft.app.request.csrfParam %}
        {% set csrfToken = craft.app.request.csrfToken %}

        {% cache if getenv('ENVIRONMENT') != 'dev' %}

        <div class="{{ entry.slug }}">

            <header>
                <div class="container">
                
                    <h2><a href="/"><span>B</span><span>o</span><span>a</span><span>g</span></a></h2>
                    
                    <nav>
                        <ul class="nav">
                            {% for navLink in navigation.navigationLinks.all() %}
                                <li class="{{ (navLink.title == entry.section or entry.section == 'Blog Entries' and navLink.title == 'Blog') ? 'current-menu-item' : '' }}">
                                    <a href="{{ navLink.url }}">{{ navLink.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>

                </div>
            </header>

            {% block main %}{% endblock %}

        </div>

            <section class="newsletter">
                <div class="container pad row">
                    <div class="col">
                        <h2>Keep in touch</h2>
                        <p>Stick your email in the box and I'll let you know about anything interesting I have to share. No spam ever, of course.</p>
                    </div>
                    <div class="col">
                        <form class="newsletter-signup" autocomplete="off">
                            <fieldset class="field">
                                <label for="email_address">Enter your email address</label>
                                <input id="email_address" type="email" name="email_address" required>
                            </fieldset>
                            <input type="hidden" name="{{ csrfParam }}" value="{{ csrfToken }}">
                            <input type="submit" value="Go" class="button">
                        </form>
                    </div>
                </div>
            </section>
            
            <footer>
                <div class="container pad row">
                    <div class="col">
                        <h3>Email</h3>
                        <p>
                            <a href="" class="copyemail nolink">fraser.boag@gmail.com</a>
                            <input type="text" class="copyemailinput" value="fraser.boag@gmail.com">
                            <small class="copynotification">Copied to clipboard</small>
                        </p>
                    </div>
                    <div class="col social">
                        <h3>Follow</h3>
                        <a href="https://instagram.com/fraserboag" target="_blank"><img src="/assets/dist/img/icon-instagram.png" alt="Instagram icon"></a>

                        <a href="https://twitter.com/intent/follow?screen_name=fraserboag"  target="_blank"><img src="/assets/dist/img/icon-twitter.png" alt="Twitter icon"></a>

                        <a href="https://codepen.io/fraserboag" target="_blank"><img src="/assets/dist/img/icon-codepen.png" alt="Codepen icon"></a>
                    </div>
                </div>
            </footer>

        {% endcache %}

        <script src="/assets/dist/js/bundle.js"></script>

        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-68238518-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-68238518-1');
        </script>
        
    </body>
</html>