{% extends "_layouts/main" %}

{% block main %}

    <section class="splash home">
        <div class="container">
            <h1>{{ entry.subTitle }}</h1>
        </div>
    </section>

    <section class="about">
        <div class="container row">
            <div class="col pad">
                {{ entry.postContent }}
            </div>
            <div class="col bumpup">
                <div class="img-wrapper">
                    <img src="{{ entry.featuredImage.one().url }}" alt="{{ entry.featuredImage.one().altText }}">
                </div>
            </div>
        </div>
    </section>

    <section class="latest-notes">
        <div class="container pad accommodatemargin">

            <div class="section-head">
                <h2>Latest from the blog</h2>
                <a href="/blog">All posts <img src="/assets/dist/img/icon-rightarrow.png" alt=""></a>
            </div>

            <div class="posts">

                {% for post in craft.entries.section('blogEntries').limit(3).all() %}

                    <a class="note visible" href="{{ post.url }}">
                        <div class="headline">
                            <h3>{{ post.title }}</h3>
                        </div>
                        <small>
                            <div>
                                <img src="/assets/dist/img/icon-tag.png" class="tagicon" alt=""> {{ post.category.one().title | title }}
                            </div>
                            <div>
                                <img src="/assets/dist/img/icon-time.png" class="tagicon time"> {{ post.postDate | date('jS F Y') }}
                            </div>
                        </small>
                    </a>

                {% endfor %}
                
            </div>
            
        </div>
    </section>

{% endblock %}