{% extends "_layouts/main" %}

{% block main %}

    <section class="splash home">
        <div class="container hideonload-splash">
            <h1>{{ entry.subTitle }}</h1>
        </div>
    </section>

    <section class="about wobblewithin">
        <div class="container row">
            <div class="col pad hideonload">
                {{ entry.postContent }}
            </div>
            <div class="col bumpup">
                <div class="img-wrapper">
                    <img src="{{ entry.featuredImage.one().url }}" alt="{{ entry.featuredImage.one().altText }}">
                </div>
            </div>
        </div>
    </section>

    <section class="latest-notes">
        <div class="container pad accommodatemargin hideonload">

            <div class="section-head">
                <h2><a href="/blog" class="wobble">Latest posts</a></h2>
            </div>

            <div class="posts">

                {% for post in craft.entries.section('blogEntries').limit(4).all() %}

                    <a class="note visible" href="{{ post.url }}">
                        <span class="icon"></span>
                        <span class="title">
                            {{ post.title }}
                            <small>
                                <img src="/assets/dist/img/icon-tag.png" class="tagicon" alt=""> {{ post.category.one().title | title }}
                                <br><img src="/assets/dist/img/icon-time.png" class="tagicon time"> {{ post.postDate | date('jS F Y') }}
                            </small>
                        </span>
                    </a>

                {% endfor %}
                
            </div>
            
        </div>
    </section>

{% endblock %}